a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	padding: 0;
	background-color: transparent; 
	cursor: pointer;
}

body {
	font-family: "Roboto", sans-serif;
  font-weight: 400;
	min-width: 320px;
}

h1 {
	font-size: 60px;
	color: #4C5866;
	font-weight: 400;
}

h2 {
	font-size: 40px;
	font-weight: 400;
	color: #666666;
}

p {
	font-size: 18px;
	color: #85859B;
}

.container {
  max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	width: 100%
}

.header__container, .header__menu, .header__buttons {
  display: flex;
  align-items: center;
	justify-content: space-between;
}

.header {
	position: relative;
  min-height: 80px;
	padding: 27px 0;
	box-sizing: border-box;
  background-color: #FFFFFF;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}

.header__logo {
	margin-right: auto;
}

.header__menu {
	gap: 60px;
}

.header__menu-item {
  height: 23px;
  font-size: 20px;
	color: rgba(76, 88, 102, 1);
}

.header__menu-link {
	transition: color .3s ease-in-out;
}

.header__menu-link:hover {
	color: #7875FE;
	transition: .3s;
}

.header__menu-link:active {
	color: #4946B4;
}

.header__menu-link:focus-visible {
  background-color: #DAD9FB;
	outline: none;
}

.header__buttons {
	gap: 30px;
	margin-left: 60px;
}

.header__search-btn-svg, .header__log-in-btn-svg {
	color: rgba(76, 88, 102, 1); 
  transition: color 0.3s ease;
}
.header__search-btn-svg:hover,.header__log-in-btn-svg:hover {
  color: #7875FE;
	transition: .3s;
}

.header__search-btn-svg:active, .header__log-in-btn-svg:active {
  color: rgba(73, 70, 180, 1);
}

.header__search-btn:focus-visible, .header__log-in-btn:focus-visible {
	background-color: #DAD9FB;
	outline: none;
}

.burger-button {
  display: none;
}

@media (max-width: 1200px) and (min-width: 920px) {
	.container {
		padding: 0 39px;
	}
}

@media (max-width: 920px) {
	.container {
		max-width: 690px;
	}
  .header {
		padding: 10px 0 0;
	}
	.header__menu {
	  gap: 30px;
	}
	.header__container, .header__menu {
		flex-wrap: wrap;
	}
	.header__logo {
		order: 1;
	}
	.header__buttons {
		order: 2;
	}
	.header__nav {
		margin-top: 10px;
		order: 3;
		width: 100%;
		padding: 20px 0;
	}
	.header::after {
    top: 46px;
	}
  .header::before {
    content: "";
    position: absolute;
    top: 110px;
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
  }
}

@media (max-width: 720px) {
	.container {
		max-width: 610px;
	}
}

@media (max-width: 620px) {
	.container {
		padding: 0 39px;
	}
	.header__menu {
	gap: 10px;
  }
}

@media (max-width: 470px) {
	.burger-button {
    display: block;
		position: relative;
		width: 30px;
    height: 30px;
		z-index: 10;
  }
	.burger-button:before ,
	.burger-button span,
	.burger-button::after{
		content: "";
		position: absolute;
		width: 21px;
		height: 2px;
		background-color: #4C5866;
		border-radius: 10px;
		left: 5px;
		transition: .3s;
	}
	.burger-button::before {
		top: 6px;
	}
	.burger-button span {
		top: 14px;
	}
  .burger-button::after {
		bottom: 6px;
	}
	.burger-button.active::before {
		top: 12px;
		rotate: 45deg;
	}
	.burger-button.active span {
		top: 12px;
		rotate: 45deg;
	}
  .burger-button.active::after {
		bottom: 15px;
		rotate: -45deg;
	}
	 .header__menu {
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;
		padding-top: 69px;
    padding-left: 39px;
    background-color: rgba(235, 235, 235, 1);
    display: flex;
    flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
    gap: 50px;
    transform: translateX(100%); 
    transition: transform 0.3s ease;
  }
  .burger-button.active ~ .header__menu {
		transform: translateX(0);
  }
	.header__buttons {
	  position: absolute;
	  top: 67px;
		right: 45px;
	}
	.header__container {
		justify-content: center;
	}
	.header__logo {
		margin-right: 0;
	}
}



.hero {
	max-height: 620px;
	padding-top: 60px;
}

.hero__title {
	width: 444px;
  height: 120px;
}

.hero__text {
	max-width: 445px;
	line-height: 150%;
}

.hero__button {
	width: 255px;
  height: 70px;
	font-size: 20px;
  border: 1px solid #7875FE;
  padding: 20px 50px;
  gap: 6px;
  color: #7875FE;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.hero__button:hover {
	background-color: rgba(120, 117, 254, 1);
	color: #FFFFFF;
	transition: .3s;
}

.hero__button:active {
	background-color: rgba(73, 70, 180, 1);
	color: #FFFFFF;
}

.hero__button:focus-visible {
  background-color: rgba(218, 217, 251, 1);
	color: rgba(120, 117, 254, 1);
	outline: none;
}

.hero__container {
	display: flex;
	justify-content: space-between;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 70px;
}

@media (max-width: 1030px) {
  .hero__title {
		font-size: 50px;
		width: 390px;
    height: 100px;
	}
	.hero__content {
		margin-top: 5px;
	}
}

@media (max-width: 760px) {
	.hero {
		padding-top: 20px;
	}
  .hero__title {
		font-size: 38px;
		width: 280px;
		height: 80px;
	}
	.hero__text {
		font-size: 16px;
		width: 287px;
		height: 120px;
		line-height: 150%;
	}
	.hero__button {
		font-size: 18px;
		width: 196px;
    height: 60px;
	}
	.hero__content {
	  gap: 20px;
  }
}

@media (max-width: 580px) {
	.hero {
		padding-bottom: 50px;
	}
	.hero__image {
		display: none;
	}
}

@media (max-width: 470px) {
	.hero__title {
		font-size: 30px;
		width: 240px;
		height: 60px;
	}
}

@media (max-width: 370px) {
  .hero__text {
		width: 100%;
		height: auto; 
		min-height: 84px;
	}
  .container {
		padding: 0 15px;
	}
	.header__menu {
		padding-left: 15px;
	}
	.header__buttons {
		right: 7%;
	}
}




.result {
	background-color: rgba(235, 235, 235, 1);
	padding: 60px 0;
}

.result__top-content {
	display: flex;
	gap: 30px;
  padding-bottom: 90px;
}

.result__top-item {
	display: flex;
	align-items: center;
	gap: 30px;
	width: 350px;
  height: 139px;
	border-top: 1px solid #C0C0C0;
}

.result__top-img {
	align-self: flex-end;
}

.result__top-descr {
  width: 160px;
  height: 81px;
	line-height: 150%;
	font-size: 18px;
}

.result__top-title {
	font-weight: 500;
	color: #666666;
}

.result__bottom-content {
	display: flex;
	align-items: center;
}

.result__bottom-descr {
	width: 350px;
  height: 445px;
}

.result__bottom-text {
	margin-top: 20px;
	line-height: 170%;
}

@media (max-width: 1200px) {
	.result__top-content {
	  justify-content: center;
	  padding-bottom: 60px;
  }
	.result__top-item {
		gap: 0;
		width: 210px;
    height: 219px;
		flex-wrap: wrap;
	}
	.result__top-img {
	  padding-top: 20px;
  }
	.result__bottom-content {
	  justify-content: center;
  }
	.result__bottom-title {
		font-size: 30px;
	}
	.result__bottom-descr {
    width: 330px;
    height: 431px;
	}
	.result__bottom-img {
		align-self: flex-start;
	}
}

@media (max-width: 720px) {
  .result__top-content {
	  justify-content: space-between;
	}
  .result__top-item {
		width: 150px;
    height: 203px;
	}
	.result__top-text, .result__top-title {
    font-size: 16px;
	}
	.result__bottom-content {
	  flex-wrap: wrap;
		justify-content: flex-start;
  }
	.result__bottom-descr {
		height: auto;
	}
	.result__bottom-title {
		font-size: 24px;
	}
	.result__bottom-text {
		margin-top: 14px;
	  font-size: 16px;
		width: 510px;
  }
}

@media (max-width: 580px) {
  .result__top-content {
		flex-direction: column;
		gap: 40px;
	}
	.result__top-item {
		gap: 30px;
		width: 290px;
    height: 116px;
		flex-wrap: nowrap;
		align-items: center;
	}
	.result__top-img {
		width: 130px;
    height: 96px;
  }
	.result__top-text {
		width: 130px;
    height: 48px;
	}
	.result__bottom-content {
		width: 290px;
	}
	.result__bottom-title {
		margin-top: 20px;
		width: fit-content;
	}
	.result__bottom-text {
		width: 290px;
	}
}




.products {
	padding: 90px 0;
}

.products__container{
  display: grid;
	grid-template-columns: repeat(4, 255px);
	justify-content: center;
	gap: 30px;
}

.product__item {
	width: 255px;
  height: 465px;
}

.product__item-title {
	font-size: 30px;
	color: #666666;
	margin-top: 20px;
}

.product__item-print {
  font-size: 14px;
	color: #B5B5BD;
	margin: 8px 0;
}

.product__item-text {
  font-size: 18px;
  line-height: 170%;
	color: #85859B;
	margin-bottom: 20px;
}

.product__item-link, .product__item-link span, .product__item-link-svg {
  font-size: 20px;
  color: #7875FE;
  transition: color 0.3s ease-in-out;
}

.product__item-link:hover span {
  color: rgba(73, 70, 180, 1);
}

.product__item-link:hover  .product__item-link-svg {
  color: rgba(73, 70, 180, 1);
}

.product__item-link span:active, .product__item-link-svg:active {
  color: rgba(73, 70, 180, 1);
}

.product__item-link:focus-visible {
  background-color: rgba(218, 217, 251, 1);
  color: rgba(120, 117, 254, 1);
  outline: none;
}


@media (max-width: 1200px) {
	.products {
	  padding: 60px 0;
  }
	.products__container {
    grid-template-columns: repeat(2, 330px);
	}
	.product__item {
		width: 330px;
    height: 434px;
	}
}

@media (max-width: 760px) {
	.product__item {
		width: 290px;
	}
	.products__container {
    grid-template-columns: repeat(1, 290px);
		gap: 60px;
	}
	.product__item-title {
		font-size: 24px;
	}
	.product__item-print {
	  margin-top: 4px;
  }
	.product__item-text {
    font-size: 16px;
	}
}




.partners {
	background-color: rgba(235, 235, 235, 1);
	padding: 90px 0;
}

.partners__container {
	display: grid;
	grid-template-columns: repeat(4, 255px);
	gap: 30px;
	justify-content: center;
}

@media (max-width: 1200px) {
	.partners {
	  padding: 60px 0;
  }
	.partners__container {
	  grid-template-columns: repeat(4, 150px);
	}
}

@media (max-width: 760px) {
	.partners__container {
	  grid-template-columns: repeat(2, 255px);
	}
}

@media (max-width: 630px) {
	.partners__container {
	  grid-template-columns: repeat(2, 150px);
	}
}

@media (max-width: 400px) {
	.partners__container {
	  grid-template-columns: repeat(1, 150px);
		gap: 20px;
	}
}




.sketchbook {
	padding-top: 90px;
}

.sketchbook__container {
	display: flex;
	gap: 30px;
}

.sketchbook__content {
	width: 350px;
  height: 272px;
}

.sketchbook__text {
  line-height: 170%;
	margin-top: 8px;
}

.sketchbook__btn {
	margin-top: 30px;
  width: 255px;
  height: 70px;
	font-size: 20px;
  border: 1px solid #7875FE;
  padding: 20px 50px;
  gap: 6px;
  color: #7875FE;
	transition: .3s;
}

.sketchbook__btn:hover {
	background-color: rgba(120, 117, 254, 1);
	color: #FFFFFF;
	transition: .3s;
}

.sketchbook__btn:active {
	background-color: rgba(73, 70, 180, 1);
	color: #FFFFFF;
}

.sketchbook__btn:focus-visible {
  background-color: rgba(218, 217, 251, 1);
	color: rgba(120, 117, 254, 1);
	outline: none;
}


@media (max-width: 1200px) {
	.sketchbook__title {
		font-size: 30px;
	}
	.sketchbook__text {
	  margin-top: 20px;
  }
}

@media (max-width: 920px) {
	.sketchbook__container {
		flex-wrap: wrap;
		gap: 0px;
  }
	.sketchbook__title {
		font-size: 24px;
	}
	.sketchbook__text {
		font-size: 16px;
		width: 510px;
	}
	.sketchbook__btn {
		width: 196px;
		height: 60px;
	}
	.sketchbook__img {
		order: 1;
	}
	.sketchbook__content {
		order: 2;
	}
}

@media (max-width: 630px) {
	.sketchbook__container {
		justify-content: center;
	}
  .sketchbook__text {
		width: auto;
	}
}




.footer__top {
  background-color: #4C5866;
  height: 80px;
	justify-content: space-between;
}

.footer__container {
  display: flex;
  align-items: center;
	justify-content: center;
  height: 100%;
}

.footer__top-media {
	display: flex;
	margin-left: auto;
	gap: 30px;
}

.footer__bottom {
	background-color: #FFFFFF;
	height: 21px;
	display: flex;
	justify-content: center;
}

.footer__top-media-icon {
	color: rgba(255, 255, 255, 1);
	transition: color 0.3s ease;
}

.footer__top-media-icon svg:hover {
	color: rgba(218, 217, 251, 1);
	transition: color 0.3s ease;
}

.footer__top-media-icon svg:active {
	color: rgba(120, 117, 254, 1);
}

.footer__top-media-icon:focus-visible {
	background-color: rgba(120, 117, 254, 1);
	color: rgba(255, 255, 255, 1);
  outline: none;
}

@media (max-width: 440px) {
	.footer__top {
    height: 148px;
		position: relative;
  }
	.footer__top::after {
    content: "";
    position: absolute;
    top: 72px;
		left: calc((100% - 290px) / 2);
    width: 290px;
    height: 1px;
    background-color:rgba(221, 221, 221, 1);
    opacity: 0.2;
  }
	.footer__container {
		flex-direction: column;
		justify-content: center;
	}
	.footer__top-media {
    margin: 20px 0;
  }
	.footer__top-logo {
		margin: 20px 0;
	}
}